body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(37, 36, 37, 0.8);
}

body * {
  border: 0px solid #121212;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
main video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

main h1 {
  text-align: center;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 64px;
  position: relative;
  margin: 12% 0% 0% 0%;
  z-index: 1;
}
main h2 {
  text-align: center;
  color: #f1f1f1;
  font-size: 28px;
  position: relative;
  margin: 5% 10% 0% 10%;
  z-index: 1;
  font-family: "Roboto Mono", monospace;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8% !important;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  height: 20px;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
}

footer p {
  padding-top: 30px;
  padding-left: 2%;
  text-align: left;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color: #eeeff1;
  text-decoration: none;
}

footer a {
  color: #eeeff1;
  font-family: "Roboto Mono", monospace;
}

.pages {
  background-size: cover;
  width: 100%;
  z-index: 0;
}

.pages.about {
  background: url("../../src/assets/images/02patoguitarra.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
}

.pages.teaching {
  background: url("../../src/assets/images/03patoflauta.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.pages.nextShows {
  background: url("../../src/assets/images/05patoteatro.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.pages.contact {
  background: url("../../src/assets/images/01patoflauta.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main video {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100vh;
  }
  main h1 {
    font-size: 42px;
    margin: 30% 5% 5% 5%;
    color: #eeeff1;
  }
  main h2 {
    font-size: 16px;
    margin: 5% 3% 0px 3%;
    padding: 0px 5% 0px 5%;
    color: #eeeff1;
  }
  .pages.about {
    background: url("../../src/assets/images/04patoguitarra.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgba(37, 36, 37, 0.8);
    height: 170vh;
  }
  .pages.about h1 {
    margin: 10% 5% 5% 5%;
  }
  .pages.about h1,
  .pages.about h2 {
    color: rgba(37, 36, 37, 0.8);
    text-shadow: #ccc 5px 0 10px;
  }
  .pages.teaching {
    background: url("../../src/assets/images/03patoflauta.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .pages.nextShows {
    background: url("../../src/assets/images/05patoteatro.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .pages.nextShows h1,
  .pages.nextShows h2 {
    color: #eeeff1;
  }
  .pages.contact {
    background: url("../../src/assets/images/03patoflauta.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .pages.contact h1 {
    margin: 10% 5% 15px 5%;
    color: #eeeff1;
  }
}
